build/
dist/
tim.egg-info/
**/*.pyc
**/*.swp
**/.*project
**/*.err
*.egg-info/*
build/*
dist/*
venv/*
#### joe made this: http://goel.io/joe

#####=== Eclipse ===#####
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

